<div class="animal-tab-container">
    <button class="tab-button" data-tab-item="cat" type="button">Cats</button>
</div>
<div class="animal-tab-container">
    <button class="tab-button" data-tab-item="dog" type="button">Dogs</button>
</div>
