// grid variables
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: 'only screen and (min-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: em)';
$breakpoint-large: 'only screen and (min-width: 48em)';

// typography
$base-font-size: 100%;
$base-line-height: 1.25;
$font-stack: 'Helvetica, Arial, sans-serif';
$body-color: #333;

// colors
$border-color: #ccc;

